AlignConsecutiveAssignments:                    true
AllowAllArgumentsOnNextLine:                    false
AllowAllConstructorInitializersOnNextLine:      false
AllowAllParametersOfDeclarationOnNextLine:      false
AllowShortFunctionsOnASingleLine:               Empty
AllowShortBlocksOnASingleLine:                  Empty
BinPackArguments:                               false
BinPackParameters:                              false
BreakInheritanceList:                           AfterColon
BreakConstructorInitializers:                   AfterColon
ColumnLimit:                                    120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:              2
ContinuationIndentWidth:                        2
FixNamespaceComments:                           false
IndentCaseLabels:                               true
NamespaceIndentation:                           Inner
PenaltyReturnTypeOnItsOwnLine:                  1000000000
TabWidth:                                       2
